<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xample.UTS_Mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Halamanlogin" />
        <activity android:name=".Masukpasien" />
        <activity android:name=".Masukdokter" />
        <activity android:name=".Halamanutamadokter" />
        <activity android:name=".Halamanutamapasien" />
        <activity android:name=".Registrasipasien" />
        <activity android:name=".Antrpasien" />
        <activity android:name=".Dokter" />
        <activity android:name=".Notification_dokter" />
        <activity android:name=".Notification_pasien" />
        <activity android:name=".Rekappasien" />
        <activity android:name=".Nomor_antrian" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>